{{ storytelling }}

    {{ if type == 'chapternavigation'}}

      

        <div class="w-full {{ bg_color }}">
            <div class="flex flex-col justify-center items-center py-10 md:w-1/2 mx-auto">
                <h6 class="text-black font-sans font-semibold text-center">{{ writer }}</h6>
                <h2 class="font-serif text-4xl capitalize pt-5 pb-8 text-center"> {{ title }}</h2>
                <button class="font-sans text-white bg-red-400 py-3 px-7"> {{ button_group }} </button>
            </div>
        </div>



        

    {{ /if }}

{{ /storytelling }}
